{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('index')}">章节管理</a></li>
            <li class="layui-this">添加章节</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="" required lay-verify="required" placeholder="请输入章节标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="number" name="sort" oninput="if(value.length>2)value=value.slice(0,2)" placeholder="（选填）如不修改则留空 可选内容0 - 99" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属考试</label>
                        <div class="layui-input-block">
                            <select name="" lay-filter="subjectSelect" lay-verify="required">
                              <option value="">请选择所属考试</option>
                              {foreach name="subject" item="vo"}
                              <option {php}echo $vo['id']==$subjectid? 'selected': '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属篇幅</label>
                        <div class="layui-input-block">
                            <select name="pieceid" id="Piece" lay-verify="required">
                              <option value="">请选择所属篇幅</option>
                              {foreach name="pieces" item="vo"}
                              <option {php}echo $vo['id']==$pieceId? 'selected': '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>



            
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" checked lay-skin="switch" lay-text="启用|禁用">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
    layui.use("form", function () {
        var form = layui.form();
        form.on('select(subjectSelect)', function(data){
            $.ajax({
                url: "{:url('subjectSelectItem')}?id="+data.value,
                type: "get",
                success: function (info) {
                    // if (info.code === 1) {
                        console.log(info); //得到被选中的值
                        $("#Piece").html("");
                        var option1 = $("<option>").val('').text('请选择');
                         $("#Piece").append(option1);
                        $.each(info, function(key, val) {
                            var option1 = $("<option>").val(val.id).text(val.title);
                            $("#Piece").append(option1);
                            form.render('select');
                        }); 
                    layer.msg('请选择所属篇幅');
                }
            });
         });  
    })
</script>
{/block}
