{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('index')}">章节管理</a></li>
            <li class=""><a href="{:url('add')}">添加章节</a></li>
            <li class="layui-this">编辑章节</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('update')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="{$data.title}"  lay-verify="required" placeholder="请输入章节标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="number" name="sort" oninput="if(value.length>2)value=value.slice(0,2)" max='99' value="{$data.sort}" placeholder="（选填）如不修改则留空 可选内容0 - 99" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属考试</label>
                        <div class="layui-input-block">
                            <select name="" lay-filter="subjectSelect" lay-verify="subjectSelect">
                              {foreach name="subject" item="vo"}
                              <option {php}echo $vo['id']==$data['subjectid'] ? 'selected' : '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属篇1幅</label>
                        <div class="layui-input-block">
                            <select name="pieceid" id="Piece" lay-filter="Piece"  lay-verify="Piece">
                              {foreach name="piece" item="vo"}
                              <option {php}echo $vo['id']==$data['pieceid'] ? 'selected' : '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" {php}echo $data['status']==1 ? '' : 'checked';{/php} lay-skin="switch" lay-text="启用|禁用">
                        </div>
                    </div>
                  
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$data.id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use("form", function () {
        var form = layui.form();
        form.on('select(subjectSelect)', function(data){
            $.ajax({
                url: "{:url('subjectSelectItem')}?id="+data.value,
                type: "get",
                success: function (info) {
                        $("#Piece").html('');
                         $("#Piece").append($("<option>").val('').text('请选择'));
                        var op = "<option value=''>请选择</option>>";
                        $.each(info, function(key, val) {
                            op += "<option value='"+val.id+"'>"+val.title+"</option>>";
                        }); 
                        $("select[name=pieceid]").html(op).removeAttr("disabled"); 
                        form.render();
                }
            });
         });  
    })
</script>
{/block}