{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">章节管理</li>
            <li class=""><a href="{:url('add')}">添加章节</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">考题</label>
                        <div class="layui-input-inline">
                            <select name="" lay-filter="subjectSelect"  lay-verify="required">
                              <option value="">请选择所属考试</option>
                              <option value="">All</option>
                              {foreach name="subject" item="vo"}
                              <option {php}echo $vo['id']==$pieceid ? 'selected' : '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">篇幅</label>
                        <div class="layui-input-inline">
                            <select name="pieceid" id="Piece" lay-verify="required">
                              <option value="">请选择所属篇幅</option>
                            </select>  
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left:20px">
                        <button class="layui-btn">搜索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>排序</th>
                        <th>标题</th>
                        <th>所属考题</th>
                        <th>所属篇幅</th>
                        <th>试题量</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td>{$vo.sort}</td>
                        <td><a href="javascript:;" onclick="openWin('{:url('ExamProblem/sectionProblem',['exampiece_id'=>$vo['id']])}',['90%','70%'])"><b>{$vo.title}</b></a></td>
                        <td><a href="{:url('ExamPiece/index',['subjectid'=>$vo['subjectid']])}">{$vo.subject}</a></td>
                        <td><a href="{:url('ExamSection/index',['pieceid'=>$vo['pieceid']])}">{$vo.piece}</a></td>
                        <td>{$vo.problemNumber}</td>
                        <td>{php}echo $vo['status']==1 ? '禁用' : '启用';{/php}</td>
                        <td>{$vo.creation_at}</td>
                        <td>
                            <button class="layui-btn" onclick="problemList('{$vo.id}')">添加试题</button>
                            <a href="{:url('edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('delete',['id'=>$vo['id']])}" onclick="delete()" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$data->render()}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use("form", function () {
        var form = layui.form();
        form.on('select(subjectSelect)', function(data){
            $.ajax({
                url: "{:url('subjectSelectItem')}?id="+data.value,
                type: "get",
                success: function (info) {
                    // if (info.code === 1) {
                        console.log(info); //得到被选中的值
                        $("#Piece").html("");
                        var option1 = $("<option>").val('').text('All');
                         $("#Piece").append(option1);
                         $("#Piece").append($("<option>").val('').text('All'));
                        $.each(info, function(key, val) {
                            var option1 = $("<option>").val(val.id).text(val.title);
                            $("#Piece").append(option1);
                            form.render('select');
                        }); 
                    layer.msg('请选择所属篇幅');
                }
            });
         });  
    })

    function problemList(id){
        layer.open({
          type: 1, 
          area: ['500px', '300px'],
          closeBtn: 0,
          shadeClose: true,
          anim: 1,
          title: false,
          content: '<div style="cursor: pointer;height: 50%;background: #009688;line-height: 150px;text-align: center;font-size: 2em;color: white;" onclick="openWin(\'{:url(\'ExamSection/newproblem\')}?sectionId='+id+'\')">新建试题</div><div style="height:50%;background:#5FB878;line-height: 150px;text-align: center;cursor: pointer;font-size: 2em;" onclick="openWin(\'{:url(\'ExamProblem/selectproblem\')}?sectionId='+id+'\',[\'1000px\', \'80%\'])">选择已有试题</div>' //这里content是一个普通的String
        });
    }
</script>
{/block}