{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">考题库</li>
            <li class=""><a href="{:url('add')}">添加考题</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">搜索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>排序</th>
                        <th>标题</th>
                        <th>篇幅量</th>
                        <th>章节量</th>
                        <th>试题量</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td>{$vo.sort}</td>
                        <td><a href="{:url('ExamPiece/index',['subjectid'=>$vo['id']])}"><b>{$vo.title}</b></a></td>
                        <td>{$vo.pieceNumber}</td>
                        <td>{$vo.sectionNumber}</td>
                        <!-- <td></td> -->
                        <td>{$vo.problemNumber}</td>
                        <td>{php}echo $vo['status']==1 ? '禁用' : '启用';{/php}</td>
                        <td>{$vo.creation_at}</td>
                        <td>
                            <a href="{:url('admin/ExamPiece/add',['id'=>$vo['id']])}" class="layui-btn">新建篇幅</a>
                            <a href="{:url('edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$data->render()}
            </div>
        </div>
    </div>
</div>
{/block}