{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('index')}">篇幅管理</a></li>
            <li class="layui-this">添加篇幅</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" value="" required lay-verify="required" placeholder="请输入篇幅标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="number" name="sort" oninput="if(value.length>2)value=value.slice(0,2)" placeholder="（选填）如不修改则留空 可选内容0 - 99" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属考试</label>
                        <div class="layui-input-block">
                            <select name="subjectid" lay-verify="required">
                              <option value="">请选择所属考试 {$subjectId}</option>
                              {foreach name="subject" item="vo"}
                              <option {php}echo $vo['id']==$subjectId? 'selected': '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>



            
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" checked lay-skin="switch" lay-text="启用|禁用">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}