{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">篇幅管理</li>
            <li class=""><a href="{:url('add')}">添加篇幅</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">考题</label>
                        <div class="layui-input-inline">
                            <select name="subjectid" lay-verify="required">
                              <option value="">请选择所属考试</option>
                              <option value="">All</option>
                              {foreach name="subject" item="vo"}
                              <option {php}echo $vo['id']==$subjectid ? 'selected' : '';{/php} value="{$vo.id}">{$vo.title}</option>
                              {/foreach}
                            </select>  
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left:20px">
                        <button class="layui-btn">搜索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>排序</th>
                        <th>标题</th>
                        <th>所属考题</th>
                        <th>章节量</th>
                        <th>试题量</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td><b>{$vo.sort}</b></td>
                        <td><a href="{:url('ExamSection/index',['pieceid'=>$vo['id']])}"><b>{$vo.title}</b></a></td>
                        <td><a href="{:url('ExamPiece/index',['subjectid'=>$vo['subjectid']])}">{$vo.subject}</a></td>
                        <td>{$vo.sectionNumber}</td>
                        <td>{$vo.problemNumber}</td>
                        <td>{php}echo $vo['status']==1 ? '禁用' : '启用';{/php}</td>
                        <td>{$vo.creation_at}</td>
                        <td>
                            <a href="{:url('admin/ExamSection/add',['id'=>$vo['id']])}" class="layui-btn">新建章节</a>
                            <a href="{:url('edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('delete',['id'=>$vo['id']])}" onclick="delete()" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$data->render()}
            </div>
        </div>
    </div>
</div>
{/block}
<script>
function delete(){
    return false;
    // layer.confirm('真的删除行么',{icon: 3, title:'提示', shade: 1}, function(index){
    //     return true;
    //     // obj.del(); //删除对应行（tr）的DOM结构
    //     layer.close(index);
    //     //向服务端发送删除指令
    // });
}
</script>