{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class=""><a href="{:url('index')}">试题管理</a></li>
            <li class="layui-this">添加试题</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('save')}" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required lay-verify="required" placeholder="请输入章节标题" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">可选答案</label>
                        <div class="layui-input-block all_answer">
                            <div style="margin-bottom: 3px;">
                                <input type="text" name="all_answer[]" lay-verify="required" placeholder="输入可选答案,多个答案请点击下侧‘添加选项’" class="layui-input">
                                <div style="clear:both"></div>
                            </div>
                            <div class="add_all_answer">
                                <div class="layui-btn" id="add_all_answer">添加选项</div>
                                <div class="layui-btn layui-btn-danger" id="del_all_answer">删除选项</div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="layui-form-item">
                        <label class="layui-form-label">正确答案</label>
                        <div class="layui-input-block">
                            <select name="right_answer" class="right_answer" lay-ignore style="padding-right: 30px;cursor: pointer;padding-left: 10px;height: 38px;line-height: 1.3;line-height: 38px\9;border-width: 1px;border-style: solid;background-color: #fff;border-radius: 2px;width: 100%;border-color: #e6e6e6;">
                              <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="status" checked lay-skin="switch" lay-text="启用|禁用">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
   $('#add_all_answer').click(function(){
        var index = $('.all_answer').children('div').length;
        var input = '<div style="margin-bottom: 3px;">'+
                        '<input type="text" name="all_answer[]" lay-verify="required" placeholder="输入可选答案,多个答案请点击下侧‘添加选项’" class="layui-input"><div style="clear:both"></div>'+
                    '</div>';
        $('.add_all_answer').before(input);
        $('.right_answer').append('<option value="'+index+'">'+index+'</option>');
   })
   $('#del_all_answer').click(function(){
     if($('.all_answer').children('div').length > 2){
        $('.add_all_answer').prev().remove();
        $('.right_answer').children("option:last-child").remove();
     }
   })
</script>
{/block}
