{extend name="base" /}
{block name="body"}
<div class="layui-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">试题管理</li>
            <li class=""><a href="{:url('add')}">添加试题</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left:20px">
                        <button class="layui-btn">搜索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>可选答案</th>
                        <th>正确答案</th>
                        <!-- <th>试题量</th> -->
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="data" item="vo"}
                    <tr>
                        <td><a href="{:url('ExamPiece/index',['subjectid'=>$vo['id']])}">{$vo.title}</a></td>
                        <td>{$vo.all_answer}</td>
                        <td>{$vo.right_answer}</td>
                        <td>{php}echo $vo['status']==1 ? '<span class="layui-badge">禁用</span>' : '<span class="layui-badge layui-bg-green">启用</span>';{/php}</td>
                        <td>{$vo.creation_at}</td>
                        <td>
                            <a href="{:url('edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-normal layui-btn-mini">编辑</a>
                            <a href="{:url('delete',['id'=>$vo['id']])}" onclick="delete()" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$page}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use("form", function () {
        var form = layui.form();
        form.on('select(subjectSelect)', function(data){
            $.ajax({
                url: "{:url('subjectSelectItem')}?id="+data.value,
                type: "get",
                success: function (info) {
                    // if (info.code === 1) {
                        console.log(info); //得到被选中的值
                        $("#Piece").html("");
                        var option1 = $("<option>").val('').text('All');
                         $("#Piece").append(option1);
                         $("#Piece").append($("<option>").val('').text('All'));
                        $.each(info, function(key, val) {
                            var option1 = $("<option>").val(val.id).text(val.title);
                            $("#Piece").append(option1);
                            form.render('select');
                        }); 
                    layer.msg('请选择所属篇幅');
                }
            });
         });  
    })
</script>
{/block}